* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body, html {
  width: 100%;
  overflow-x: hidden;
}

body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  background: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url('background.jpg') no-repeat center center fixed;
  background-size: cover;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center;
}

.container {
  background: rgba(0, 0, 0, 0.4);
  padding: 30px;
  border-radius: 15px;
  box-shadow: 0 0 20px #000;
}

h1 {
  font-size: 2em;
  margin-bottom: 20px;
  font-weight: 700;
}

.countdown {
  display: flex;
  justify-content: center;
  gap: 30px;
}

.countdown div {
  font-size: 1.8em;
  font-weight: bold;
}

.countdown span {
  display: block;
  font-size: 3em;
  color: #00d8ff;
}
