* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body, html {
  width: 100%;
  overflow-x: hidden;
}

body {
  background-image: url('sua-imagem.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.container {
  background: rgba(0, 0, 0, 0.4);
  padding: 30px;
  border-radius: 15px;
  box-shadow: 0 0 20px #000;
}

h1 {
  font-size: 2em;
  margin-bottom: 20px;
  font-weight: 700;
}

.countdown {
  display: flex;
  justify-content: center;
  gap: 30px;
}

.countdown div {
  font-size: 1.8em;
  font-weight: bold;
}

.countdown span {
  display: block;
  font-size: 3em;
  color: #00d8ff;
}
